body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: rgb(62, 42, 214);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


div.grow {
    -moz : osx - font - smoothing grayscale;
    -webkit : font - smoothing antialiased;
    transform: translateZ(0);
    transition: transform 0.5s ease - out;
}

div.grow  hover,
.grow:focus {
    transform: scale(2.05);
    
}